<article class="search-image-widget">
  <div class="wrap">
    <form class="search-form" id="search-form">
      <input
        type="text"
        class="search-form__input"
        name="query"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="submit" class="search-form__btn" data-action="search">
        <i class="material-icons">image_search</i>
      </button>
    </form>
  </div>
  <ul class="gallery">
    <!-- Список <li> с карточками изображений -->
  </ul>
  <button class="load-more-btn visually-hidden" type="button" data-action="load">Load more</button>
</article>
